# Roboflow Inference API
# Tu API Key de Roboflow (puedes obtenerla en app.roboflow.com)
NEXT_PUBLIC_ROBOFLOW_API_KEY="C4oMknxvCuBigSY35tCE"

# Endpoint del modelo publicado en Roboflow, por ejemplo:
# "https://detect.roboflow.com/food-nutrition-scanner/1"
NEXT_PUBLIC_ROBOFLOW_MODEL_ENDPOINT="https://serverless.roboflow.com/food-items-ijsrk/1"

# RapidAPI (Nutrición - CalorieNinjas o Edamam)
# Obtén tu clave en RapidAPI (https://rapidapi.com/)
RAPIDAPI_KEY="d95a0b1519msh2b07e5de02dcc3bp11ea89jsnfc6029f0d179"
RAPIDAPI_HOST="calorieninjas.p.rapidapi.com"
